html {
    box-sizing:border-box;
    background: #252525;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
body {
    margin: 0;
}
*, *::before, *after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.panel {
    background: #4d4d4d;
    box-shadow: inset 0 0 0 5px rgba(14, 13, 13, 0.062);
    color:white;
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
                flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
                font-size: 20px;
                background-size: cover;
                background-position: center;
                /* border: 1px solid red; */
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.panel1 {
    background: url(img/1.jpg);
}
.panel2 {
    background: url(img/2.jpg);
}
.panel3 {
    background:  url(img/3.jpg);
    background-size: cover;
}
.panel4 {
    background: url(img/4.jpg);
    background-size: cover;
}
.panel5 {
    background: url(img/5.jpg);
}
/* Flex Items*/
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel > *:first-child { transform: translateY(-100%);}
.panel.open-active > *:first-child { transform: translateY(0); }

.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
.panel p:nth-child(2){
    font-size: 4em;
}
.panel.open {
    flex: 5;
    font-size: 40px;
}

.cta {
    color: white;
    text-decoration: none;
}